# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/

# Environment
.env

# Model files
model/saved_model/

# Data
data/raw/*.csv
!data/raw/traffic_readings.csv

# Data for Cv
*.pt
cv/test_data/*
!cv/test_data/.gitkeep


# Node / React
frontend/node_modules/
frontend/dist/
frontend/build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db